* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  padding: 10px 0;
}

.product-img {
  margin-right: 40px;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;

  display: grid;
  column-gap: 40px;
  grid-template-columns: 250px 1fr 1fr;
  grid-column: 1 / -1;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: white;
  padding: 15px;
  grid-column: 1 / -1;
}

ul,
li {
  font-size: 16px;
  margin-bottom: 8px;
}

.product-parasi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.parasi {
  font-size: 23px;
}

.shipping {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: darkred;
}

.produc-baglanti {
  margin-bottom: 60px;
  margin-top: 20px;
}

.baglanti:link,
.baglanti:visited {
  color: black;
}
.baglanti:hover,
.baglanti:active {
  text-decoration: none;
}

.product-renkler {
  display: flex;
  gap: 10px;
}

.renk {
  height: 22px;
  width: 22px;
}
.renk-siyah {
  background-color: black;
}
.renk-mavi {
  background-color: blue;
}
.renk-kırmızı {
  background-color: red;
}
.renk-sarı {
  background-color: yellow;
}
.renk-yeşil {
  background-color: green;
}
.renk-kahverengi {
  background-color: brown;
}

.bilgiler {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 30px;
}
.bilgiler-listesi {
  list-style: square;
  margin-left: 20px;
}

.bilgiler-listesi li {
  margin-bottom: 10px;
}

.buton {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
  grid-column: 1 / -1;
}

.buton:hover {
  color: black;
  background-color: white;
}

.product::before {
  content: "SALE";
  background-color: red;
  color: #f7f7f7;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  left: -35px;
}
